.customcard:hover {
    background-color: #e0e0e0;
}

.customcard {
    background-color: #f5f5f5 ;
}

.customcard span, .customcard p {
    color: #424242;
}

/*grey lighten-2 grey-text text-darken-3*/































